<%- include("partials/header"); -%>
<h1>HOME</h1>
<p> <%= home %></p>
<% console.log(posts); %>
<% posts.forEach(function(post){  %>
   <h1><%=post.titles%></h1> 
     <p><%=post.text.substring(0,70)+"...."%>
    <a href="/posts/<%=post.titles%>">Read More</a>
</p>
  <% }) %>

<%- include("partials/footer"); -%>